streamlit
pandas
textblob
snscrape
transformers
torch
Nominatim
geopy
plotly
folium
#folium_static
scipy
matplotlib
seaborn
joblib
sklearn.linear_model
sklearn.neighbors
sklearn.ensemble
sklearn.model_selection
