/* Logo */
/* Adapted from Zachary Blackwood */
[data-testid="stSidebar"] {
                background-image: url(https://streamlit.io/images/brand/streamlit-logo-secondary-colormark-darktext.png);
                background-size: 200px;
                background-repeat: no-repeat;
                background-position: 4px 20px;
            }


/* Card */
/* Adapted from https://startbootstrap.com/theme/sb-admin-2 */

div.css-j5r0tf.e1tzin5v2{
  background-image: linear-gradient(to right, #DCDCDC, #F5F5F5);
 #border: 2px solid;
 padding: 20px 20px 20px 20px;
 border-radius: 10px;
 #color: #000000;
 box-shadow: 10px;
    margin-top: -9em;

}


div.css-1r6slb0.e1tzin5v2 {
background-color: #36b9cc;
 border: 2px solid;
 padding: 20px 20px 20px 20px;
 border-radius: 10px;
 color: #ffc300;
 box-shadow: 10px;
    margin-top: -9em;

    
}

label.css-mkogse.e16fv1kl2 {
    color: #36b9cc !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}


/* Move block container higher */
div.block-container.css-18e3th9.egzxvld2 {
  margin-top: -5em;
}


/* Hide hamburger menu and footer */
div.css-r698ls.e8zbici2 {
  display: none;
}

footer.css-ipbk5a.egzxvld4 {
  display: none;
}

footer.css-12gp8ed.eknhn3m4 {
  display: none;
}

div.vg-tooltip-element {
  display: none;
}
